<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login </title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    <div class="form">
    <form class="my-form">
      <div class="signup-welcome-row">
          <img
              class="signup-welcome"
              alt="Logo"
              src="../static/pics/telegram.png"
          >
          <h1>login</h1>
      </div>
      <div class="socials-row">
          <a
              href="#"
              title="Use Google"
              onclick="location.href='/loginbygoogle';"
          >
              <img src="../static/pics/google.png" alt="Google">
              Log in by Google
          </a>
  
      </div>
          </div>
        </div>
</html>
